<html>
  <head>
    <title>Contact Ilho</title>
  </head>
  <body>
    <h1>Contact</h1>

    <form action="/thanks" method="POST">
      <div>
        <label for="firstName">First Name:</label>
        <input id="firstName" name="firstName" type="text" required />
      </div>

      <div>
        <label for="lastName">Last Name:</label>
        <input id="lastName" name="lastName" type="text" required />
      </div>

      <div>
        <label for="email">Email:</label>
        <input id="email" name="email" type="email" required />
      </div>

      <div>
        <input type="submit" value="Send" />
      </div>
    </form>

    <p><a href="/">Back home</a></p>
  </body>
</html>
