<html>
  <head>
    <title>Contact Ilho</title>
  </head>
  <body>
    <h1>Contact</h1>

    <% if (errors && errors.length) { %>
      <div>
        <p>Please fix the following:</p>
        <ul>
          <% errors.forEach(function (error) { %>
            <li><%= error %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>

    <form action="/thanks" method="POST">
      <div>
        <label for="firstName">First Name:</label>
        <input
          id="firstName"
          name="firstName"
          type="text"
          required
          value="<%= values && values.firstName ? values.firstName : "" %>"
        />
      </div>

      <div>
        <label for="lastName">Last Name:</label>
        <input
          id="lastName"
          name="lastName"
          type="text"
          required
          value="<%= values && values.lastName ? values.lastName : "" %>"
        />
      </div>

      <div>
        <label for="email">Email:</label>
        <input
          id="email"
          name="email"
          type="email"
          required
          value="<%= values && values.email ? values.email : "" %>"
        />
      </div>

      <div style="display:none;" aria-hidden="true">
        <label for="companyWebsite">Company Website</label>
        <input id="companyWebsite" name="companyWebsite" type="text" tabindex="-1" autocomplete="off" />
      </div>

      <div>
        <input type="submit" value="Send" />
      </div>
    </form>

    <p><a href="/">Back home</a></p>
  </body>
</html>
