<html>
  <head>
    <title>Ilho Portfolio</title>
  </head>
  <body>
    <h1>Ilho Portfolio</h1>

    <p>
      <a href="https://github.com/ilho-dev" target="_blank">My GitHub</a>
    </p>

    <h2>Projects</h2>
    <ul>
      <li><a href="#" target="_blank">Change Calculator</a></li>
      <li><a href="#" target="_blank">San Diego Top Spots</a></li>
      <li><a href="#" target="_blank">Movie Finder Data</a></li>
    </ul>

    <p>
      <a href="/contact">Contact me</a>
    </p>
  </body>
</html>
