<html>
  <head>
    <title>Thanks</title>
  </head>
  <body>
    <h1>Thank you</h1>

    <p>
      Thank you <%= contact.firstName %> <%= contact.lastName %>.
    </p>

    <p>We will reach you at: <%= contact.email %></p>

    <p><a href="/">Back home</a></p>
  </body>
</html>
